/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0;
  padding: 0;
  margin: auto;
  
}
.App {
  width: 1000px;
  margin-top: 50px;
}
.FormSearch {
  margin: auto;
  text-align: center;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 10px;
}
.FormInput {
  border: 1px solid red;
  padding: 10px;
  
}
.idInput,
.nameInput,
.birthdayInput,
.selectGender,
.selectSpecializeds {
  margin-left: 90px;
  margin-bottom: 10px;
}

.txtsearch {
  width: 600px;
  margin: 0 20px 0 20px;
  height: 20px;
}
.btnSearch {
  width: 100px;
  height: 20px;
}
.txtId,
.txtName {
  width: 518px;
  float: right;
  margin-right: 212px;
}
.selectedDate {
  margin-left: 50px;
  width: 190px;
}
.selectGender {
  display: inline-flex;
}
/* .labelGender {
  margin-right: 55px;
} */
.selectedGender {
  margin-left: 55px;
}
/* .labelSpecializeds {
  margin-right: 50px;
} */
.selectedSpecialized {
  margin-left: 30px;
}



.FormAction {
  margin-top: 10px;
  display: flex;
  border: 1px solid red;
}
.btnAdd,
.btnUpdate,
.btnDelete {
  width: 150px;
  height: 25px;
  margin: 15px 0 15px 0;
}
.studentsList {
  border: 1px solid red;
  margin-top: 10px;
}
thead {
  justify-content: center;
}
tr td {
  border: 1px solid red;
  padding: 5px 14px 5px 14px;
}

.pagination {
  display: flex;
  margin: 10px 100px 10px 100px;
  
}
.btn-previous,
.btn-next {
  width: 120px;
  height: 30px;
  /* opacity: 0; */
  color: black;
}

.listPage {
  display: flex;

}
.listPage p {
  margin: 0 15px 0 15px;
  cursor: pointer;

}

.listPage p:hover {
  background-color: red;
  color: #fff;
  padding: 0 5px 0 5px;
}

.highlight {
  background-color: red;
  color: #fff;
  padding: 0 5px 0 5px;
}






